.productlist-sort-container {
	display: flex;
	flex-wrap: wrap;
}

.productlist-input-container {
	display: inline-block;
}

.productlist-meta-container input {
	width: 300px;
	margin: 0 10px 10px 0;
}

.productlist-sort-container input {
	width: 150px;
}


.product-flexbox {
	display: flex;
	flex-wrap: wrap-reverse;
	height: 300px;
}

.productlist-info-container {
	grid-template-columns: 1fr 1fr;
}

.productlist-input-title {
	font-size: 16px;
	font-weight: bold;
}

.productlist-meta-container textarea {
	width: 600px;
	max-width: 90%;
	height: 90%;
	/*height: 300px;*/
	font-family: monospace;
	/*margin: 0 10px 10px 0;*/
}

.productlist-price {
	width: 250px !important;
	/*height: 100px !important;*/
}

/* overview window */

#myTable2 {
	border-collapse:separate; 
  	border-spacing: 0 3px;
}

#myTable2 tr:nth-child(even) {
	background-color: #fff;
}

#myTable2 tr:hover {
	background-color: #aae;
	/*border: solid 1px black;*/
	/*margin-bottom: 30px;*/
}

#myTable2 th {
	cursor: pointer;
}

#myTable2 td {
	padding: 3px 10px;
}